body{
    font-family: 'Montserrat';
}

h1{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat';
    font-weight: bold;
}


#title{
    background-color: #ff4c68;
    color: white;
    margin: auto;
    position: relative;
    /* overflow: hidden; */
}

.container-fluid{
    padding: 3% 15%;
}

/* Navigation bar */
.navbar{
    padding-bottom: 3rem;
}

/* Buttons */

.download{
    margin: 5% 3% 5% 0;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 1rem;
}

.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}

/* Title image */

.Mobile{
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    /* margin-bottom: -12rem; */
    /* margin: 3rem auto 0 auto; */
}


/* Features */

#features{
    padding: 7% 15%;
    text-align: center;
    background-color: white;
    position: relative;
    z-index: 1;
    bottom: 13rem;
    margin-bottom: -13rem;
}

.features-icons{
    width: 100%;
    text-align: center;
    margin: auto;
    color: #ef8172;
}

.features-icons:hover{
    color: #ff4c68;
}

.features-head{
    text-align: center;
    font-weight: 900;
    size: 1.5rem;
    margin: 1rem auto;
}

.features-para{
    text-align: center;
    color: #8f8f8f;
    width: 75%;
    margin: 1rem auto;
}


/* Testimonials */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 1.2rem;
}

.carousel-item{
    padding: 0 15%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom:3% ;
}

.press-logo{
    width: 15%;
    margin: 2rem 2rem 3rem 2rem;
}

#pricing{
    margin: 3rem;
    padding: 3rem;
}

.pricing-column{
    padding: 2rem;
    text-align: center;
}

.btn-block{
    width: 100%;
}

/* cta */

#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
}

#cta-head{
    font-weight: bolder;
    padding-top: 2rem;
}

.bottom-button{
    margin:2rem 0.5rem 3rem;
}

/* footer */

#footer{
    padding: 0;
    margin-top: 2rem;

}

#footer-para{
    margin: 0.3rem auto 2rem;
    text-align: center;
}

.social{
    text-align: center;
    width: 100%;
    
}

.logo{
    padding: 0.3rem;
}

.logo:hover{
    color:#ff4c68;
}


/* media queries */

@media (max-width: 1050px){

    #title{
        text-align: center;
        
    }

    .collapse{
        text-align: left;
    }

    .Mobile{
        position: static;
        transform: rotate(0);
    }

    p{
        font-size: 150%;
    }

    .logo{
        font-size: 200%;
    }

    em{
        font-size: 130%;
    }
}

@media (max-width: 1110px) {
    h1{
        font-size: 1.8rem;
    }
    
}

@media (max-width: 1260px) {
    h1{
        font-size: 2.5rem;
    }

}